details {
	background-color: var(--color-bg-1);
	border: 0.05rem solid var(--color-fg-1);
	border-radius: var(--radius-outer);
	padding-block: var(--space-s);
	padding-inline: var(--space-l);
}

summary {
	cursor: pointer;
	padding-bottom: 0;
}

summary:hover {
	color: var(--color-fg-2);
}

details[open] summary {
	border-bottom: 0.05rem dotted var(--color-pri-1);
	margin-bottom: var(--space-s);
	padding-bottom: var(--space-s);
}
