name: Checks

on:
  pull_request:
    branches: [main]

  push:
    branches: [main]

  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.branch }}

jobs:
  build:
    if: contains(github.event_name, 'pull_request')
    runs-on: ubuntu-latest
    steps:
      - uses: haliphax/nubbins/.github@main

      - name: Build minified CSS
        run: npm run build

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: haliphax/nubbins/.github@main

      - name: Prettier
        run: npx prettier -luw .
